.text {
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  position: relative;
  font-size: 24px;
  white-space: pre-wrap;
  word-break: break-word;
  height: 84px;
  overflow: hidden;
}

.correct {
  color: var(--primary-text-color);
}

.incorrect {
  color: var(--warning-color);
}

.miss {
  opacity: .2;
}

.space {
  text-decoration: underline;
}

.underline {
  color: var(--third-background-color);
  transition: .1s;
  font-weight: 700;
}

@keyframes downtime {
  from {
    opacity: 1;
  }
  to {
    opacity: .2;
  }
}

.waiting {
  animation: 1s ease-in 0s infinite alternate downtime;
}
